body{
    margin: 0%;
}

header{
    display: flex;
    background-color: #088199;
}

.logo{
    margin-top: 0.5%;
    margin-bottom: 0.4%;
    position: relative;
    left: 5%;
}
a {
    text-decoration: none;
    color: white;
}
.contactanos{
    position: relative;
    margin-top: 1%;
    left: 77%;
}

.log{
    padding-right: 6%;
}
.logo_sociales{
    display: flex;
    position: relative;
    top: 48px;
    left: 66%;
}

.opc_pantallas{
    display: flex;
    width: 70.05%;
    height: 0%;
    background-color: #75A933;
    border-top-left-radius: 1.5% 20%;
    border-bottom-left-radius: 1.5% 20%;
    position: relative;
    top: 120px;
    left: 0.5%;
}
.opc_pantalla{
    
    font-family: sans-serif;
    position: relative;
    left: 4%;
    padding-right: 6%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.opc_pantalla2{
    display: flex;
    position: relative;
    left: 9%;
    top: 30px;
    
}
.slide{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.slide img{
    height: 25%;
    width: 100%;
}

.franja_verde{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    background-color: #75A933;
    height: 37px;
    width: 100%;
}